---
layout: default
tag: chess
permalink: /ideas/chess
---

<div class="header-bar">
  <h1 style= "text-transform: capitalize;">{{page.tag}}</h1>
</div>


<ul class="post-list">
  {% for post in site.categories.idea %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>


